@font-face {
   font-family: 'Pacifico';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/clemencepetit/Downloads/ECURIE%20NEU%20PRE%CC%81S/fonts/Pacifico/regular.ttf') format('truetype');
}
